:root {
  --orbit-delay-1: 1s;
  --orbit-delay-2: 2s;
  --orbit-delay-3: 3s;
  --orbit-size-1: 50px;  /* Размер маленькой орбиты */
  --orbit-size-2: 100px; /* Размер средней орбиты */
  --orbit-size-3: 150px; /* Размер большой орбиты */
}

.orbit-container {
  position: relative;
  width: 300px; /* Размер самой большой орбиты */
  height: 300px; /* Размер самой большой орбиты */
  margin: auto; /* Центрирование контейнера */
}

.orbit {
  border: 1px solid #FFF; /* Цвет границы */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
  opacity: 0;
  animation-fill-mode: forwards;
}

.icon {
  position: absolute;
  top: calc(50% - 14px);
  left: 50%;
  --orbit-size: 50px; /* Значение по умолчанию для маленькой орбиты */
  transform-origin: 0 100%; /* Центр вращения в нижней точке иконки */
  animation: orbit-animation 10s linear infinite; /* Анимация движения по орбите */

}

/* Пример для трех орбит разного размера */
.orbit:nth-child(1) {
  width: 100px; /* Размер маленькой орбиты */
  height: 100px; /* Размер маленькой орбиты */
  transform-origin: 50px 50px;
}

.orbit:nth-child(2) {
  width: 200px; /* Размер средней орбиты */
  height: 200px; /* Размер средней орбиты */
  transform-origin: 100px 100px;
}

.orbit:nth-child(3) {
  width: 300px; /* Размер большой орбиты */
  height: 300px; /* Размер большой орбиты */
  transform-origin: 150px 150px;
}





@keyframes orbit-animation {
  from {
    transform: rotate(0deg) translateX(var(--orbit-size)) rotate(0deg);

  }
  to {
    transform: rotate(360deg) translateX(var(--orbit-size)) rotate(-360deg);

  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.orbit:nth-child(1) .icon {
  --orbit-size: var(--orbit-size-1); /* Маленькая орбита */
  transform: translateY(-50%);

}

.orbit:nth-child(2) .icon {
  --orbit-size: var(--orbit-size-2); /* Средняя орбита */
}

.orbit:nth-child(3) .icon {
  --orbit-size: var(--orbit-size-3); /* Большая орбита */
}

.orbit:nth-child(1) {
  /* Стили иконок для маленькой орбиты */
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;

}

.orbit:nth-child(2) {
  /* Стили иконок для средней орбиты */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
animation-delay: 2s;
}

.orbit:nth-child(3) {
  /* Стили иконок для большой орбиты */
  -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
animation-delay: 3s;
}
